@include exports( "fab/theme/material" ) {
    // FAB
    .k-fab {
        @include box-shadow($fab-shadow);
    }

    // Normal state
    @each $name, $color in $fab-theme-colors {
        .k-fab-#{$name} {
            border-color: $color;
            color: contrast-wcag( $color );
            background-color: $color;
        }
    }

    // Hover state
    @each $name, $color in $fab-theme-colors {
        .k-state-hover.k-fab-#{$name},
        .k-fab-#{$name}:hover {
            border-color:  shade( $color, 4);
            background-color:  shade( $color, 4);
        }
    }

    // Focus state
    @each $name, $color in $fab-theme-colors {
        .k-state-focus.k-fab-#{$name},
        .k-fab-#{$name}:focus {
            background-color: rgba( $color, .8 );
            border-color: rgba( $color, .8 );
            @include box-shadow($fab-focus-shadow);
        }
    }

    // Active state
    @each $name, $color in $fab-theme-colors {
        .k-state-active.k-fab-#{$name},
        .k-state-selected.k-fab-#{$name},
        .k-fab-#{$name}:active {
            border-color: shade( $color, 1);
            background-color: shade( $color, 1);
            box-shadow: $fab-shadow, 0px 3px 4px rgba($color, .4);
        }
    }

    // Items
    .k-fab-item > * {
        @include box-shadow($fab-items-shadow);
    }

}
